Repository VKTRenokh/duck-fp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint-fix

.lintstagedrc:

{
  "*.{json,js,ts,html}": ["npm run prettier"],
  "*.{js,ts}": ["npm run lint-fix"]
}

feat(none): implement none function
  src/maybe.ts
  tsconfig.json
Due: npm run prettier, npm run lint-fix

feat(none): add jsdoc for none
  src/maybe.ts
Due: npm run prettier, npm run lint-fix

feat(changeset): add changeset
  .changeset/curly-hornets-remain.md
Due: none

docs(mapNullable): fix typo
  README.md
Due: none

refactor(actions): npm run release instead of npm run publish
  .changeset/soft-icons-pretend.md
  .github/workflows/main.yml
Due: none

fix(actions): package was building two times
  .github/workflows/main.yml
  CHANGELOG.md
Due: none

feat(version): version-packages
  .changeset/blue-books-tease.md
  .changeset/curly-hornets-remain.md
  .changeset/soft-icons-pretend.md
  .changeset/tricky-apricots-explode.md
  CHANGELOG.md
  package.json
Due: npm run prettier

refactor(actions): remove auto npm upload
  .github/workflows/main.yml
Due: none

refactor(or): remove useless or-reverse function
  .changeset/giant-icons-move.md
  src/utils/index.ts
  src/utils/or-reverse.ts
  src/utils/or.ts
Due: npm run prettier, npm run lint-fix

feat(version): version-packages
  .changeset/giant-icons-move.md
  CHANGELOG.md
  package.json
Due: npm run prettier

docs(readme.md): remove orReverse from examples
  .changeset/witty-walls-push.md
  README.md
Due: none

fix: module not found or.ts
  .changeset/brown-dogs-unite.md
  src/utils/or.ts
  tsconfig.json
Due: npm run prettier, npm run lint-fix

feat: version-packages
  .changeset/brown-dogs-unite.md
  .changeset/witty-walls-push.md
  CHANGELOG.md
  package.json
Due: npm run prettier

fix: dist missing
  package.json
Due: npm run prettier

feat: implement utils jest tests
  .eslintrc.js
  jest.config.ts
  package-lock.json
  package.json
  tests/utils.test.ts
Due: npm run prettier, npm run lint-fix

feat: implement maybe.ts tests
  tests/maybe.test.ts
  tests/utils.test.ts
Due: npm run prettier, npm run lint-fix

feat: add npm run test to github actions
  .github/workflows/lint.yml
Due: none

feat: implement from-throwable
  src/utils/from-throwable.ts
  src/utils/index.ts
Due: npm run prettier, npm run lint-fix

feat: implement from throwable test
  tests/utils.test.ts
Due: npm run prettier, npm run lint-fix

feat: add changesets
  .changeset/rich-students-type.md
Due: none

fix: module not found src/maybe
  src/utils/from-throwable.ts
Due: npm run prettier, npm run lint-fix

fix: equals method
  .changeset/wild-kangaroos-design.md
  src/maybe.ts
  tests/maybe.test.ts
Due: npm run prettier, npm run lint-fix

feat: update version
  .changeset/rich-students-type.md
  .changeset/wild-kangaroos-design.md
  CHANGELOG.md
  package.json
Due: npm run prettier

docs: update readme.md
  .changeset/lucky-insects-smell.md
  README.md
Due: none

docs: update readme.md
  .changeset/rotten-windows-pretend.md
  README.md
Due: none

fix: jest tests was in build
  .changeset/metal-bobcats-collect.md
  .eslintrc.js
  src/maybe.ts
  tsconfig.json
Due: npm run prettier, npm run lint-fix

feat: version packages
  .changeset/lucky-insects-smell.md
  .changeset/metal-bobcats-collect.md
  .changeset/rotten-windows-pretend.md
  CHANGELOG.md
  package.json
Due: npm run prettier

docs: add toMaybe, fromMaybe examples
  .changeset/strong-pears-fail.md
  examples/either.md
Due: none

feat: add jsdoc for from-throwable either
  src/either/utils/from-throwable.ts
Due: npm run prettier, npm run lint-fix

feat: implement flat map method for either monad
  src/either/either.ts
Due: npm run prettier, npm run lint-fix

refactor: rename filterOrElse function
  examples/either.md
  src/either/either.ts
  src/either/utils/from-throwable.ts
Due: npm run prettier, npm run lint-fix

docs: update readme.md
  README.md
Due: none

feat: add to-maybe util function
  src/either/utils/to-maybe.ts
Due: npm run prettier, npm run lint-fix

feat: implement filterOrElse method
  src/either/either.ts
Due: npm run prettier, npm run lint-fix

feat: add jsdoc for right, left functions
  .changeset/rare-mangos-guess.md
  src/either/either.ts
Due: npm run prettier, npm run lint-fix

docs: add either examples
  README.md
  examples/either.md
  examples/maybe.md
Due: none

feat: implement either flat map test
  tests/either.test.ts
Due: npm run prettier, npm run lint-fix

feat: implement either .map method test
  tests/either.test.ts
Due: npm run prettier, npm run lint-fix

refactor: move maybe to separate directory
  src/either/utils/from-throwable.ts
  src/index.ts
  src/maybe/index.ts
  src/maybe/maybe.ts
  src/maybe/utils/call.ts
  src/maybe/utils/from-throwable.ts
  src/maybe/utils/index.ts
  src/maybe/utils/is-callable.ts
  src/maybe/utils/merge-map.ts
  src/maybe/utils/merge.ts
  src/maybe/utils/or.ts
  src/maybe/utils/undefined-to-maybe.ts
  tests/either.test.ts
  tests/maybe-utils.test.ts
  tests/maybe.test.ts
Due: npm run prettier, npm run lint-fix
