Repository VKTRenokh/duck-fp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint-fix

.lintstagedrc:

{
  "*.{json,js,ts,html}": ["npm run prettier"],
  "*.{js,ts}": ["npm run lint-fix"]
}

Create CNAME
  CNAME
Due: none

docs: fix examples links
  .changeset/fast-wombats-knock.md
  README.md
Due: none

docs: update readme.md
  README.md
Due: none

feat: add git repository to package json, update keywords
  .changeset/short-apricots-begin.md
  package.json
Due: npm run prettier

feat: version-packages
  .changeset/fast-wombats-knock.md
  .changeset/short-apricots-begin.md
  CHANGELOG.md
  package.json
Due: npm run prettier

feat: add is nothing test
  .gitignore
  package.json
  tests/maybe.test.ts
Due: npm run prettier, npm run lint-fix

feat: update asyncMap maybe test
  tests/maybe.test.ts
Due: npm run prettier, npm run lint-fix

chore: update lintstagedrc
  .lintstagedrc
Due: none

feat: add either#isLeft test
  tests/either.test.ts
Due: npm run prettier, npm run lint-fix

feat: add either#isRight test
  tests/either.test.ts
Due: npm run prettier, npm run lint-fix

feat: update Either#flatMap tests
  tests/either.test.ts
Due: npm run prettier, npm run lint-fix

feat: add maybe call test
  tests/maybe.test.ts
Due: npm run prettier, npm run lint-fix

feat: add unobserve test
  tests/observable.test.ts
Due: npm run prettier, npm run lint-fix

feat: update tests
  .changeset/bright-dolls-joke.md
  .eslintignore
  src/observable/observable.ts
  tests/maybe.test.ts
  tests/observable.test.ts
Due: npm run prettier, npm run lint-fix

feat: version packages
  .changeset/bright-dolls-joke.md
  CHANGELOG.md
  package.json
Due: npm run prettier

feat: update either tests
  README.md
  tests/either.test.ts
Due: npm run prettier, npm run lint-fix

refactor: remove useless console logs
  .changeset/long-toes-boil.md
  src/observable/observable.ts
  tsconfig.json
Due: npm run prettier, npm run lint-fix

feat: add no-console rule
  .eslintrc.js
Due: npm run prettier, npm run lint-fix

feat: add new version
  .changeset/long-toes-boil.md
  CHANGELOG.md
  package.json
Due: npm run prettier

feat: implement reader monad
  src/index.ts
  src/reader/index.ts
  src/reader/reader.ts
Due: npm run prettier, npm run lint-fix

chore: update eslint
  .eslintrc.js
Due: npm run prettier, npm run lint-fix

chore: update packages
  package-lock.json
  package.json
Due: npm run prettier

fix: remove deprecated husky install
  .husky/pre-commit
  package.json
Due: npm run prettier

chore: update eslintrc & prettierrc
  .eslintrc.js
  .prettierrc
Due: npm run prettier, npm run lint-fix

feat: implement Either#orElse method
  src/either/either.ts
Due: npm run prettier, npm run lint-fix

refactor: remove useless const declartion
  src/either/utils/from-throwable.ts
  src/maybe/maybe.ts
  src/maybe/utils/from-throwable.ts
  src/maybe/utils/merge.ts
  src/maybe/utils/or.ts
Due: npm run prettier, npm run lint-fix

feat: implement Reader#app method
  .changeset/chilly-stingrays-joke.md
  .changeset/pretty-dolls-fetch.md
  src/either/either.ts
  src/reader/reader.ts
Due: npm run prettier, npm run lint-fix

feat: add Reader#run test
  src/either/utils/from-maybe.ts
  tests/reader.test.ts
Due: npm run prettier, npm run lint-fix

feat: add Reader#map test
  tests/reader.test.ts
Due: npm run prettier, npm run lint-fix

feat: add Reader#flatMap test
  tests/reader.test.ts
Due: npm run prettier, npm run lint-fix

feat: add Reader#ap test
  tests/reader.test.ts
Due: npm run prettier, npm run lint-fix

feat: add Either#orElse test
  tests/either.test.ts
Due: npm run prettier, npm run lint-fix

feat: implement Either#asyncMap method
  .changeset/nasty-rocks-lie.md
  src/either/either.ts
  tests/either.test.ts
Due: npm run prettier, npm run lint-fix

docs: add Either#orElse example
  examples/either.md
  src/either/either.ts
Due: npm run prettier, npm run lint-fix

feat: add jsdoc for reader monad
  src/reader/reader.ts
Due: npm run prettier, npm run lint-fix

feat: implement of function for either
  .changeset/cuddly-teachers-smash.md
  examples/either.md
  src/either/either.ts
  tests/either.test.ts
Due: npm run prettier, npm run lint-fix

docs: add Reader#map example
  README.md
  examples/reader.md
Due: none

docs: add Reader#flatMap example
  examples/reader.md
Due: none

docs: add Reader#ap example
  examples/reader.md
Due: none

feat: add new version
  .changeset/chilly-stingrays-joke.md
  .changeset/cuddly-teachers-smash.md
  .changeset/nasty-rocks-lie.md
  .changeset/pretty-dolls-fetch.md
  CHANGELOG.md
  package.json
Due: npm run prettier
